<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	<script type="text/javascript" src="static/js/jquery-3.4.1.js"></script>
	<!-- <script type="text/javascript"> -->
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> My First Try Using Flask </h1>
    <p> Flask is Fun </p>
	    <div class="jumbotron">
        <h1>Bucket List App</h1>
         
        <button id="btnGoodsSale" class="btn btn-lg btn-primary btn-block" type="button">Goods sale</button>
        <button id="btnMonthlySale" class="btn btn-lg btn-primary btn-block" type="button">Monthly Sale</button>
    <!--    <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button> -->

      </div>
    
    {% endblock %}
  </body>
</html>