<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Dash App</title>

  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1 style="text-align: center;"> Arqoob Dashboard</h1>
    <p></p>
	    <div class="jumbotron">
        <button id="btnBranchSale" class="btn btn-lg btn-primary btn-block" type="button">Sale of each Branch</button>
        <button id="btnMonthlySale" class="btn btn-lg btn-primary btn-block" type="button">Monthly Sale</button>
		<button id="btnFastMoving" class="btn btn-lg btn-primary btn-block" type="button">Fast Moving </button>
		<button id="btnNonMoving" class="btn btn-lg btn-primary btn-block" type="button">Non Moving</button>
		<a href="{{ url_for('Stock_forecast') }}" class="btn btn-lg btn-primary btn-block">Stock Forecast</a>
		</div>
		</div>
    
    {% endblock %}
	</script>
  </body>


</body>
</html>
