<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My First Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static',    filename='css/bootstrap.min.css') }}" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
</head>
<body>
    <header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
			<li><a href="{{ url_for('ItemRestock') }}">Items need to be restock</a></li>
            <li><a href="{{ url_for('ItemMonitor') }}">Items need to be monitor</a></li>
			<li><a href="{{ url_for('ItemNonMoving') }}">Items Non Moving</a></li>
          </ul>
        </nav></strong>
      </div>

    </header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bargraph',graphs,{});
                </script>
            </div>
        </div>
    </div>
	<ul class="menu">
	</ul>
</div>
    <script src="{{ url_for('static',    filename='js/bootstrap.min.js') }}"</script>
	<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plots.js') }}"></script>

</body>
</html>
